<!DOCTYPE html>
<html>
<head>
  <title>WMP</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar">
  <section>
    <ul class="left">
      <li><%= link_to("Home", :controller => "calendar", :action => "show_menu") %> </li>
      <li>
        <%= link_to("Calendar", :controller => "calendar", :action => "show_menu") %>
      </li>
      <li class="has-dropdown">
        <%= link_to("Recipes", recipes_path) %>
        <ul class="dropdown">
            <li><%= link_to("Ingredients", ingredients_path) %><</li>
        </ul>
      </li>
    </ul>
    <ul class="right">
      <li><%= link_to("My Account", :controller => "account") %></li>
    </ul>
  </section>
</nav>
<div class="row">
  <div class="columns nine">
<%= yield %>
  </div>
</div>
<%= yield :page_script %>
</body>
</html>
